<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="com.fh.admin.mapper.book.IBookMapper">

	<insert id="addBook" parameterType="book">
		insert into t_book (bookName,bookPrice) values (#{bookName},#{bookPrice})
	</insert>

	<select id="findBookList" resultType="book">
		select id,bookName,bookPrice from t_book
		<where>
			<if test="bookName!=null and bookName!=''">
				and bookName like #{bookName}
			</if>

		</where>
	</select>

	<select id="findBookById" parameterType="book" resultType="book">
		select id,bookName,bookPrice from t_book where id=#{id}
	</select>

	<update id="updateBook" parameterType="book">
		update t_book set bookName=#{bookName},bookPrice=#{bookPrice} where id=#{id}
	</update>

	<delete id="deleteBook" parameterType="book">
		delete from t_book where id=#{id}
	</delete>

</mapper>